<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Title</title>
</head>
<body>
<p class="headline">Set configs for Gemini</p>
<div class="config-container">
    <div class="shortcut">
        <p class="name">open/close</p>
        <div class="btn"></div>
    </div>
    <div class="url">
        <p class="name">Gemini URL</p>
        <input type="text" class="input" placeholder="https://gemini.google.com/app">
    </div>
</div>
<div class="btn-container">
    <button class="done">Save</button>
    <button class="cancel">Cancel</button>
</div>
</body>
</html>